<header id="header">
    <div id="menu" class="container">
        <div class="row">
            <nav role="navigation" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="navbar-header row">

                    <!--== Logo ==-->
                    <div class="navbar-brand logo col-xs-2 col-xs-offset-1 col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1">
                        <a class="" href="/">
                            <img class="geosci-logo" src="assets/images/geosci-xyz.png" />
                        </a>
                    </div>
                    <div class="clearfix hidden-xs hidden-sm col-md-4 col-md-offset-5 col-lg-5 col-lg-offset-3">
                        <ul class="nav-menu">
                            <li><a href="/contact">Contact Us</a></li>
                            <li><a href="/who">Who</a></li>
                            <li><a href="/why">Why</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>