<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

    <head>
        {% include _templateFolder+'head.html' %}
        {% include _templateFolder+'mathjax.html' %}
        <title>GeoSci.xyz</title>
    </head>

    <body>

        <div id="wrap">
            {% include _templateFolder+'navigation.html' %}


           <section id="contact">
                <div class="container">
                      <div class="row" align="right">
                            <h3 class="text">{% if mailSent %}Thanks for contacting us!{% else %}get in touch{% endif %}</h3>
                      </div>
                </div>


                {% if not mailSent %}
                <div>
                    <form role="form" method="POST" action="/contact" accept-charset="UTF-8" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="email"  name="email" placeholder="email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Message</label>
                            <textarea class="form-control" id="message" name="message" placeholder="" style="height:10em;"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success pull-right">Submit</button>
                    </form>
                </div>
                {% endif %}
            </section>

            <div id="push"></div>
        </div>

    {% include _templateFolder+'footer.html' %}
    {% include _templateFolder+'scripts.html' %}
</body>
</html>
