
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="GeoSci.xyz Developers">


<link rel="shortcut icon" href="/s/faviconit/favicon.ico">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="geoscience, education, python, software, geophysics, inversion, scientific computing, SimPEG">
<meta name="description" content="open source educational resources for the geosciences.">

<!-- animate css -->
<link rel="stylesheet" href="/s/css/animate.min.css">
<!-- bootstrap css -->
<link rel="stylesheet" href="/s/css/bootstrap.min.css">
<!-- font-awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="/s/css/font-awesome.min.css"> -->
<!-- google font -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>

<!-- custom css -->
<link rel="stylesheet" href="/s/css/templatemo-style.css">

<!-- <link rel="stylesheet" href="/s/css/stickyFooter.css"> -->

<!-- ****** faviconit.com favicons ****** -->
<link rel="icon" href="/s/faviconit/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/s/faviconit/favicon.ico">
<link rel="icon" sizes="16x16 32x32 64x64" href="/s/faviconit/favicon.ico">
<link rel="icon" type="image/png" sizes="196x196" href="/s/faviconit/favicon-192.png">
<link rel="icon" type="image/png" sizes="160x160" href="/s/faviconit/favicon-160.png">
<link rel="icon" type="image/png" sizes="96x96" href="/s/faviconit/favicon-96.png">
<link rel="icon" type="image/png" sizes="64x64" href="/s/faviconit/favicon-64.png">
<link rel="icon" type="image/png" sizes="32x32" href="/s/faviconit/favicon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/s/faviconit/favicon-16.png">
<link rel="apple-touch-icon" href="/s/faviconit/favicon-57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/s/faviconit/favicon-114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/s/faviconit/favicon-72.png">
<link rel="apple-touch-icon" sizes="144x144" href="/s/faviconit/favicon-144.png">
<link rel="apple-touch-icon" sizes="60x60" href="/s/faviconit/favicon-60.png">
<link rel="apple-touch-icon" sizes="120x120" href="/s/faviconit/favicon-120.png">
<link rel="apple-touch-icon" sizes="76x76" href="/s/faviconit/favicon-76.png">
<link rel="apple-touch-icon" sizes="152x152" href="/s/faviconit/favicon-152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/s/faviconit/favicon-180.png">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="/s/faviconit/favicon-144.png">
<meta name="msapplication-config" content="/browserconfig.xml">
<!-- ****** faviconit.com favicons ****** -->

