
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="GeoSci.xyz Developers">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<script src="/s/js/jquery.js"></script>
<script src="/s/js/bootstrap.min.js"></script>
<script src="/s/js/wow.min.js"></script>
<script src="/s/js/jquery.singlePageNav.min.js"></script>
<script src="/s/js/custom.js"></script>


<link rel="shortcut icon" href="/favicon.ico">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="geoscience, education, python, software, geophysics, inversion, scientific computing, SimPEG">
<meta name="description" content="educational resources for the geosciences.">

<!-- animate css -->
<link rel="stylesheet" href="/s/css/animate.min.css">
<!-- bootstrap css -->
<link rel="stylesheet" href="/s/css/bootstrap.min.css">
<!-- font-awesome -->
<link rel="stylesheet" href="/s/css/font-awesome.min.css">
<!-- google font -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>

<!-- custom css -->
<link rel="stylesheet" href="/s/css/templatemo-style.css">

<link rel="icon" href="/favicon.ico" type="image/x-icon">

