<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">


    <head>
        {% include _templateFolder+'head.html' %}
        <title>GeoSci.xyz</title>
    </head>

    <body>
        {% include _templateFolder+'navigation.html' %}

        <!-- start projects -->
       <section id="projects">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 templatemo-box", align="center">
                        <a href="http://gpg.geosci.xyz"><img src="../s/images/gpg.png" width=240 class="img-responsive" alt="projects img" ></a>
                        <a href="http://gpg.geosci.xyz"><h2 class="text">GPG</h2></a>
                        <p>Collaborative, open access educational resources for geophysics</p>
                        <!-- <p>SimPEG is an open source python package for numerical simulations and gradient based inverse problems in geophysics</p> -->
                    </div>

                    <div class="col-md-4 templatemo-box", align="center">
                        <a href="http://em.geosci.xyz"><img src="../s/images/emgeosci.png" width=240 class="img-responsive" alt="projects img" ></a>
                        <a href="http://em.geosci.xyz"><h2 class="text">EM</h2></a>
                        <p>Collaborative, open access educational resources for geophysics</p>
                        <!-- <p>SimPEG is an open source python package for numerical simulations and gradient based inverse problems in geophysics</p> -->
                    </div>

                    <div class="col-md-4 templatemo-box", align="center">
                        <a href="http://simpeg.xyz"><img src="http://www.simpeg.xyz/s/img/logo-block.png" width=240 class="img-responsive" alt="projects img" ></a>
                        <a href="http://simpeg.xyz"><h2 class="text">SimPEG</h2></a>
                        <p>Simulation and Parameter Estimation in Geophysics</p>
    <!--                     <p>SimPEG is an open source python package for numerical simulations and gradient based inverse problems in geophysics</p>
     -->            </div>

                </div>
            </div>
        </section>
        <!-- end projects -->

        {% include _templateFolder+'footer.html' %}

    </body>

</html>
