<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">


    <head>
        {% include _templateFolder+'head.html' %}
        <title>GeoSci.xyz</title>
    </head>

    <body>
        <div class="wrap">
            {% include _templateFolder+'navigation.html' %}

            <!-- start home -->
<!--             <section id="home">
                <div class="overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <h1>GeoSci.xyz</h1>
                                <h4>open source resources for applied geophysics</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
            <!-- end home -->

            <!-- start projects -->
           <section id="projects">
                <div class="container">

                    <div class="row">
                        <div class="col-md-4 templatemo-box" align="center">

                            <a href="http://gpg.geosci.xyz">
                                <div class="hovereffect">
                                    <img src="../s/images/gpg.png" class="img-responsive" alt="">
                                    <div class="overlay">
                                    <h3>
                                        GPG
                                        <br><br>
                                        <div style="font-size:15px">Introductory, <br> applied geophysics</div>
                                        <!-- <div class ="row"> -->
                                        <!-- <br> -->
                                            <i class="fa fa-circle" style="font-size:8px;  background-color:transparent; width:8px; height:8px" aria-hidden="true"></i>
                                            <i class="fa fa-circle-o" style="font-size:8px;  background-color:transparent; width:8px; height:8px" aria-hidden="true"></i>
                                            <i class="fa fa-circle-o" style="font-size:8px;  background-color:transparent; width:8px; height:8px" aria-hidden="true"></i>
                                    </h3>
                                       <i class="fa fa-book" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>

                            <a href="http://gpg.geosci.xyz"><h2 class="text">GPG</h2></a>
                            <p>Geophysics for Practising Geoscientists</p>
                        </div>


                        <div class="col-md-4 templatemo-box" align="center">

                            <a href="http://em.geosci.xyz">
                                <div class="hovereffect">
                                    <img src="../s/images/emgeosci.png" class="img-responsive" alt="">
                                    <div class="overlay">
                                       <h3>
                                            EM
                                        <br><br>
                                        <div style="font-size:15px">Theory and application of electromagnetic methods</div>
                                        <!-- <div class ="row"> -->
                                        <!-- <br> -->
                                            <i class="fa fa-circle" style="font-size:8px;  background-color:transparent; width:8px; height:8px" aria-hidden="true"></i>
                                            <i class="fa fa-circle" style="font-size:8px;  background-color:transparent; width:8px; height:8px" aria-hidden="true"></i>
                                            <i class="fa fa-circle-o" style="font-size:8px;  background-color:transparent; width:8px; height:8px" aria-hidden="true"></i>
                                        </h3>
                                       <i class="fa fa-book" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>

                            <!-- <a href="http://em.geosci.xyz"><img src="../s/images/emgeosci.png" width=240 class="img-responsive" alt="projects img" ></a> -->
                            <a href="http://em.geosci.xyz"><h2 class="text">EM</h2></a>
                            <p>Electromagnetic geophysics</p>
                        </div>

                        <div class="col-md-4 templatemo-box" align="center">

                            <a href="http://simpeg.xyz">
                                <div class="hovereffect">
                                    <img src="http://www.simpeg.xyz/img/logo-block.png" class="img-responsive" alt="">
                                    <div class="overlay">
                                       <h3>
                                            SimPEG
                                        <br><br>
                                        <div style="font-size:15px">Software for geophysical <br> simulations and inversions</div>
                                        <!-- <div class ="row"> -->
                                        <!-- <br> -->
                                            <i class="fa fa-circle" style="font-size:8px;  background-color:transparent; width:8px; height:8px" aria-hidden="true"></i>
                                            <i class="fa fa-circle" style="font-size:8px;  background-color:transparent; width:8px; height:8px" aria-hidden="true"></i>
                                            <i class="fa fa-circle" style="font-size:8px;  background-color:transparent; width:8px; height:8px" aria-hidden="true"></i>
                                       </h3>
                                       <i class="fa fa-wrench" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>

                            <!-- <a href="http://simpeg.xyz"><img src="http://www.simpeg.xyz/s/img/logo-block.png" width=240 class="img-responsive" alt="projects img" ></a> -->
                            <a href="http://simpeg.xyz"><h2 class="text">SimPEG</h2></a>
                            <p>Simulation and Parameter Estimation in Geophysics</p>
                       </div>

                    </div>

                    <div class="col-md-4 templatemo-box" align="center">

                            <a href="https://courses.geosci.xyz">
                                <div class="hovereffect">
                                    <img src="../s/images/geosci-courses.png" class="img-responsive" alt="">
                                    <div class="overlay">
                                       <h3>
                                            Courses
                                        <br><br>
                                        <div style="font-size:15px">Course materials</div>
                                            <i class="fa fa-circle" style="font-size:8px;  background-color:transparent; width:8px; height:8px" aria-hidden="true"></i>
                                            <i class="fa fa-circle" style="font-size:8px;  background-color:transparent; width:8px; height:8px" aria-hidden="true"></i>
                                            <i class="fa fa-circle-o" style="font-size:8px;  background-color:transparent; width:8px; height:8px" aria-hidden="true"></i>
                                        </h3>
                                       <i class="fa fa-chalkboard-teacher" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>

                            <a href="https://courses.geosci.xyz"><h2 class="text">Courses</h2></a>
                            <p>Notes and presentations<br>for courses on Geophysics</p>
                        </div>


                        <div class="col-md-4 templatemo-box" align="center">

                            <a href="http://toolkit.geosci.xyz/">
                                <div class="hovereffect">
                                    <img src="../s/images/draped-mag.png" class="img-responsive" alt="">
                                    <div class="overlay">
                                       <h3>
                                            Toolkit
                                        <br><br>
                                        <div style="font-size:15px">Resources for working<br>with magnetic data</div>
                                            <i class="fa fa-circle" style="font-size:8px;  background-color:transparent; width:8px; height:8px" aria-hidden="true"></i>
                                            <i class="fa fa-circle-o" style="font-size:8px;  background-color:transparent; width:8px; height:8px" aria-hidden="true"></i>
                                            <i class="fa fa-circle-o" style="font-size:8px;  background-color:transparent; width:8px; height:8px" aria-hidden="true"></i>
                                        </h3>
                                       <i class="fa fa-book" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>

                            <a href="http://toolkit.geosci.xyz/"><h2 class="text">Toolkit</h2></a>
                            <p>Geophysical Toolkit for Geologists</p>
                        </div>

                        <!-- <div class="col-md-4 templatemo-box" align="center">

                            <a href="http://em.geosci.xyz/content/case_histories/index.html">
                                <div class="hovereffect">
                                    <img src="../s/images/casehistories.png" class="img-responsive" alt="">
                                    <div class="overlay">
                                       <h3>
                                            Case Histories
                                        <br><br>
                                        <div style="font-size:15px">Examples of EM <br> geophysics in action</div>
                                            <i class="fa fa-circle" style="font-size:8px;  background-color:transparent; width:8px; height:8px" aria-hidden="true"></i>
                                            <i class="fa fa-circle-o" style="font-size:8px;  background-color:transparent; width:8px; height:8px" aria-hidden="true"></i>
                                            <i class="fa fa-circle-o" style="font-size:8px;  background-color:transparent; width:8px; height:8px" aria-hidden="true"></i>
                                        </h3>
                                       <i class="fa fa-book" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>

                            <a href="http://em.geosci.xyz/content/case_histories/index.html"><h2 class="text">Case Histories</h2></a>
                            <p>Applications of EM Geophysics</p>
                        </div> -->


                    <!-- <div class="col-md-4 templatemo-box" align="center">

                        <a href="http://tge.geoscience.tech/">
                            <div class="hovereffect">
                                <img src="http://tge.geoscience.tech/en/latest/_images/intro.png" class="img-responsive" alt="">
                                <div class="overlay">
                                   <h3>
                                        TGE
                                    <br><br>
                                    <div style="font-size:15px">Making and maintaining <br> geophysical equipment</div>

                                        <i class="fa fa-circle" style="font-size:8px;  background-color:transparent; width:8px; height:8px" aria-hidden="true"></i>
                                        <i class="fa fa-circle" style="font-size:8px;  background-color:transparent; width:8px; height:8px" aria-hidden="true"></i>
                                        <i class="fa fa-circle-o" style="font-size:8px;  background-color:transparent; width:8px; height:8px" aria-hidden="true"></i>
                                   </h3>
                                   <i class="fa fa-book" aria-hidden="true"></i>
                                </div>
                            </div>
                        </a>

                        <a href="http://simpeg.xyz"><h2 class="text">TGE</h2></a>
                        <p>Techniques of Geoscientific Experimentation</p>
                    </div> -->

                    <div class="row">
                        <div class="col-md-4 templatemo-box" align="center">

                            <a href="http://disc2017.geosci.xyz">
                                <div class="hovereffect">
                                    <img src="../s/images/disc2017.png" class="img-responsive" alt="">
                                    <div class="overlay">
                                    <h3>
                                        DISC 2017
                                        <br><br>
                                        <div style="font-size:15px">Short course on <br>applied electromagnetics</div>
                                        <!-- <div class ="row"> -->
                                        <!-- <br> -->
                                            <i class="fa fa-circle" style="font-size:8px;  background-color:transparent; width:8px; height:8px" aria-hidden="true"></i>
                                            <i class="fa fa-circle-o" style="font-size:8px;  background-color:transparent; width:8px; height:8px" aria-hidden="true"></i>
                                            <i class="fa fa-circle-o" style="font-size:8px;  background-color:transparent; width:8px; height:8px" aria-hidden="true"></i>
                                    </h3>
                                       <i class="fa fa-users" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </a>

                            <a href="http://disc2017.geosci.xyz"><h2 class="text">DISC 2017</h2></a>
                            <p>Geophysical Electromagnetics: Fundamentals &amp; Applications</p>
                        </div>

                    </div>


                    </div>

                </div>
            </section>

            <!-- end projects -->
        <div id="push"></div>
        </div>

        {% include _templateFolder+'footer.html' %}
        {% include _templateFolder+'scripts.html' %}
    </body>

</html>
