<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

    <head>
        {% include _templateFolder+'head.html' %}
        {% include _templateFolder+'mathjax.html' %}
        <title>GeoSci.xyz</title>
    </head>

    <body>

        <div id="wrap">

        {% include _templateFolder+'navigation.html' %}
        <!-- start presentation -->
       <section id="presentations">
            <div class="container">
                <div class="row" align="left">
                    <h3 class="text">SEG 2016 Airborne IP Workshop</h3>
                </div>
                <!-- History and theory  -->
                <div class="row" align="left">
                    <h4 class="text">History and theory</h3>
                </div>

                <div class="row">
                    <div class="col-md-9 templatemo-box">
                        <strong>Smith, R.</strong>
                        (2016). History of dispersive conductivity σ(ω) effects in ground and airborne EM data
                    </div>
                    <div class="col-md-3 templatemo-box">
                        <a href="https://drive.google.com/open?id=0B6-CCYHtUGILaFhaM2ZqOGxZTGM"><i class="fa fa-file-text"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 templatemo-box">
                        <strong>Hodges, G.</strong>
                        (2016). AIP: History, headaches and hopes
                    </div>
                    <div class="col-md-3 templatemo-box">
                        <a href="https://drive.google.com/open?id=0B6-CCYHtUGILVm1MX29rWmtnbUk"><i class="fa fa-file-text"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 templatemo-box">
                        <strong>Chen, T.</strong> and Smiarowski, A.
                        (2016). Understanding Airborne IP
                    </div>
                    <div class="col-md-3 templatemo-box">
                        <a href="https://drive.google.com/open?id=0B6-CCYHtUGILVGVnbDNuYmVLN2M"><i class="fa fa-file-text"></i></a>
                    </div>
                </div>

                <!-- Physical properties  -->
                <div class="row" align="left">
                    <h4 class="text">Physical properties</h3>
                </div>
                <div class="row">
                    <div class="col-md-9 templatemo-box">
                        <strong>Macnae, J.</strong>
                        (2016). Physical properties
                    </div>
                    <div class="col-md-3 templatemo-box">
                        <a href="https://drive.google.com/open?id=0B6-CCYHtUGILbnJpWWJkaXNLc3c"><i class="fa fa-file-text"></i></a>
                        <!-- <a href=http://github.com/simpeg/simpeg><i class="fa fa-code"></i></a> -->
                    </div>
                </div>

                <!-- Data Processing  -->
                <div class="row" align="left">
                    <h4 class="text">Data Processing</h3>
                </div>

                <div class="row">
                    <div class="col-md-9 templatemo-box">
                        <strong>Viezzoli, A.</strong>
                        (2016). Data Processing I
                    </div>
                    <div class="col-md-3 templatemo-box">
                        <a href="https://drive.google.com/open?id=0B6-CCYHtUGILNmNLQkRaQ3lGZ28"><i class="fa fa-file-text"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 templatemo-box">
                        <strong>Kwan, K.</strong> and Legault J.
                        (2016). Extracting chargeability from VTEM data
                    </div>
                    <div class="col-md-3 templatemo-box">
                        <a href="https://drive.google.com/open?id=0B6-CCYHtUGILOFNpTVBDaTRYZGtLdTZ1dkxtMXBETV9pWU1n"><i class="fa fa-file-text"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 templatemo-box">
                        <strong>Chen, T.</strong>
                        (2016). Extracting subtle IP from airborne TEM data
                    </div>
                    <div class="col-md-3 templatemo-box">
                        <a href="https://drive.google.com/open?id=0B6-CCYHtUGILWVFveGxYMFlWaDA"><i class="fa fa-file-text"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 templatemo-box">
                        <strong>Smith, R.</strong>
                        (2016). Induced-polarization effects in airborne electromagnetic data: estimating polarizability from shape reversals
                    </div>
                    <div class="col-md-3 templatemo-box">
                        <a href="https://drive.google.com/open?id=0B6-CCYHtUGILbUNUbHcyNU1qN2M"><i class="fa fa-file-text"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 templatemo-box">
                        <strong>Macnae, J.</strong>
                        (2016). Data Processing V
                    </div>
                    <div class="col-md-3 templatemo-box">
                        <a href="https://drive.google.com/open?id=0B6-CCYHtUGILWTdDMFMyS0RNVWs"><i class="fa fa-file-text"></i></a>
                    </div>
                </div>

                <!-- Modeling and Inversion  -->
                <div class="row" align="left">
                    <h4 class="text">Modeling and Inversion</h3>
                </div>
                <div class="row">
                    <div class="col-md-9 templatemo-box">
                        <strong>Marchant, D.</strong>
                        (2016). Modelling of IP effects in the time domain
                    </div>
                    <div class="col-md-3 templatemo-box">
                        <a href="https://drive.google.com/open?id=0B6-CCYHtUGILbTgxcnd3SUZ5SW1Yd0tZaGFrem5FelBMNTRj"><i class="fa fa-file-text"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 templatemo-box">
                        <strong>Walker, S.</strong>
                        (2016). AIP: Modelling, inversion and interpretation
                    </div>
                    <div class="col-md-3 templatemo-box">
                        <a href="https://drive.google.com/open?id=0B6-CCYHtUGILQ0VDSVotc3RTT00"><i class="fa fa-file-text"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 templatemo-box">
                        <strong>Kang, S.</strong>, Yang, D., Marchant, D, and Oldenburg, D.
                        (2016). On recovering IP information from time domain EM data
                    </div>
                    <div class="col-md-3 templatemo-box">
                        <a href="https://drive.google.com/open?id=0B6-CCYHtUGILQlRwR1plMTdrQ28"><i class="fa fa-file-text"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 templatemo-box">
                        <strong>Macnae, J.</strong>
                        (2016). Modeling and Inversion IV
                    </div>
                    <div class="col-md-3 templatemo-box">
                        <a href="https://drive.google.com/open?id=0B6-CCYHtUGILMFhFRzJLQlY2czQ"><i class="fa fa-file-text"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 templatemo-box">
                        <strong>Viezzoli, A.</strong>
                        (2016). Modeling and Inversion V
                    </div>
                    <div class="col-md-3 templatemo-box">
                        <a href="https://drive.google.com/open?id=0B6-CCYHtUGILYVdvcWdwdXlSSzA"><i class="fa fa-file-text"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 templatemo-box">
                        <strong>Kwan, K.</strong> and Legault J.
                        (2016). AIIP mapping on modeled data
                    </div>
                    <div class="col-md-3 templatemo-box">
                        <a href="https://drive.google.com/open?id=0B6-CCYHtUGILa2l2Y2VmVnVnd0tQN3JhWnR2T1lfUzZRV0xj"><i class="fa fa-file-text"></i></a>
                    </div>
                </div>

                <!-- Case histories  -->
                <div class="row" align="left">
                    <h4 class="text">Case histories</h3>
                </div>
                <div class="row">
                    <div class="col-md-9 templatemo-box">
                        <strong>Viezzoli, A.</strong>
                        (2016). Case histories I
                    </div>
                    <div class="col-md-3 templatemo-box">
                        <a href="https://drive.google.com/open?id=0B6-CCYHtUGILY05XMGVNVUFsNHM"><i class="fa fa-file-text"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 templatemo-box">
                        <strong>Kwan, K.</strong> and Legault J.
                        (2016). Case histories II
                    </div>
                    <div class="col-md-3 templatemo-box">
                        <a href="https://drive.google.com/open?id=0B6-CCYHtUGILOE5IMEJkZlFIZWNlbUVpRzRBbU9BeWI2b0J3"><i class="fa fa-file-text"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 templatemo-box">
                        <strong>Macnae, J.</strong>
                        (2016). Airborne IP at Lewis Ponds, NSW
                    </div>
                    <div class="col-md-3 templatemo-box">
                        <a href="https://drive.google.com/open?id=0B6-CCYHtUGILMnFrZVk1UHpvNm8"><i class="fa fa-file-text"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 templatemo-box">
                        <strong>Munday, T.</strong>
                        (2016). Case Study on AEM data affected by IP, Jervois, NT, Australia
                    </div>
                    <div class="col-md-3 templatemo-box">
                        <a href="https://drive.google.com/open?id=0B6-CCYHtUGILNlozQ1BFWjVSTTdyY0xTLXhDRV9XZ243SDg4"><i class="fa fa-file-text"></i></a>
                    </div>
                </div>

                <!-- Tli Kwi Cho Shootout  -->
                <div class="row" align="left">
                    <h4 class="text">Tli Kwi Cho Shootout</h3>
                </div>
                <div class="row">
                    <div class="col-md-9 templatemo-box">
                        <strong>Oldenburg, D.</strong>, Kang, S., and Fournier D.
                        (2016). Airborne IP at Tli Kwi Cho
                    </div>
                    <div class="col-md-3 templatemo-box">
                        <a href="https://drive.google.com/open?id=0B6-CCYHtUGILaVdJZVlvWU1Xalk"><i class="fa fa-file-text"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 templatemo-box">
                        <strong>Macnae, J.</strong>
                        (2016). Tli Kwi Cho Shootout II
                    </div>
                    <div class="col-md-3 templatemo-box">
                        <a href="https://drive.google.com/open?id=0B6-CCYHtUGILaEVTLUVjSU8taXM"><i class="fa fa-file-text"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 templatemo-box">
                        <strong>Kwan, K.</strong> and Legault J.
                        (2016). Tli Kwi Cho Shootout III
                    </div>
                    <div class="col-md-3 templatemo-box">
                        <a href="https://drive.google.com/open?id=0B6-CCYHtUGILRXlpbUJLdXdWemJkcEhUSGE1MDVrakVuNzNj"><i class="fa fa-file-text"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 templatemo-box">
                        <strong>Viezzoli, A.</strong>
                        (2016). Tli Kwi Cho Shootout IV
                    </div>
                    <div class="col-md-3 templatemo-box">
                        <a href="https://drive.google.com/open?id=0B6-CCYHtUGILRTllU3dlX040VlE"><i class="fa fa-file-text"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- end presentation -->

        <div id="push"></div>
        </div>

        {% include _templateFolder+'footer.html' %}
        {% include _templateFolder+'scripts.html' %}
    </body>
</html>
