<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

    <head>
        {% include _templateFolder+'head.html' %}
        {% include _templateFolder+'mathjax.html' %}
        <title>GeoSci.xyz</title>
    </head>

    <body>

    <div id="wrap">
            {% include _templateFolder+'navigation.html' %}
            <!-- start team -->
           <section id="team">
                <div class="container">
                    <div class="row" align="right">
                        <h3 class="text">Team</h3>
                    </div>
                    <div class="row">
                        <p>

                        </p>
                    </div>
                </div>
            </section>
            <!-- end team -->

            <!-- start story -->
           <section id="team">
                <div class="container">
                    <div class="row" align="right">
                        <h3 class="text">Our Story</h3>
                    </div>
                    <div class="row">
                        <p>

                            This resource is Open Source and while currently being
                            developed by brilliant and enthusiastic graduate
                            students and faculty at UBC, the vision is to have
                            experts, worldwide, contribute. Join the development
                            on <a href="http://github.com/ubcgif">GitHub</a>

                        </p>
                    </div>
                </div>
            </section>
            <!-- end story -->
            <div id="push"></div>
        </div>

        {% include _templateFolder+'footer.html' %}
        {% include _templateFolder+'scripts.html' %}
    </body>
</html>
