<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

    <head>
        {% include _templateFolder+'head.html' %}
        {% include _templateFolder+'mathjax.html' %}
        <title>GeoSci.xyz</title>
    </head>

    <body>

    <div id="wrap">
            {% include _templateFolder+'navigation.html' %}
            <!-- start who -->
           <section id="who">
                <div class="container">
                    <!-- <div class="row" align="right">
                        <h2 class="text">Team</h2>
                    </div> -->

    <!--                 <div class="row" align= "center">
                        <h4>
                            We are passionate about the potential of open-source
                            learning and having  geoscientists communicate and
                            collaborate through the use of web-based
                            technology.
                        </h4>
                    </div> -->

                    <div class="row" align="center">

                        <!-- Doug -->
                        <div class="col-md-4 templatemo-box">
                            <div class="row", align="center">
                                <a href="https://www.eoas.ubc.ca/about/faculty/D.Oldenburg.html"><img src="/s/images/doug.png" href="https://www.eoas.ubc.ca/about/faculty/D.Oldenburg.html" width=140 class="img-responsive" alt="who img"></a>
                            </div>
                            <div class="row", align="center">
                                <h3>Doug Oldenburg</h3>
                            </div>
                            <div class="row", align="center">
                  <!--               <p>

                                    Doug is a professor of Geophysics,
                                    director of the Geophysical Inversion
                                    Facility and world leader in geophysical
                                    inversions. He is dedicated to making
                                    geophysics more accessible and useful in
                                    its application for solving problems of
                                    relevance to society. Motivated to make
                                    geophysics more accessible and engaging,
                                    he and collaborator Francis Jones launched
                                    the original GPG to serve as a learning
                                    resource for students. In 2017, Doug will
                                    be presenting the SEG DISC (Distinguished
                                    Instructor Short Course).

                                </p> -->
                            </div>
                        </div>

                        <!-- Rowan -->
                        <div class="col-md-4 templatemo-box">
                            <div class="row", align="center">
                                <a href="http://www.row1.ca/"><img src="/s/images/rowan.png" width=140 class="img-responsive" alt="who img"></a>
                            </div>
                            <div class="row", align="center">
                                <h3>Rowan Cockett</h3>
                            </div>
                            <div class="row", align="center">
                         <!--        <p>

                                    Rowan is

                                </p> -->

                            </div>
                        </div>

                        <!-- Lindsey -->
                        <div class="col-md-4 templatemo-box">
                            <div class="row", align="center">
                                <a href="http://lindseyjh.ca"><img src="/s/images/lindsey.png" width=140 class="img-responsive" alt="who img"></a>
                            </div>
                            <div class="row", align="center">
                                <h3>Lindsey Heagy</h3>
                            </div>
                            <div class="row", align="center">
                      <!--           <p>

                                    Lindsey is

                                </p> -->

                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- end who -->

            <!-- start story -->
           <section id="story">
                <div class="container">
                 <!--    <div class="row" align="right">
                        <h2 class="text">Our Story</h2>
                    </div> -->
                    <div class="row">
                        <p>

                            We are passionate about the potential of open-source
                            learning resources and having geoscientists
                            communicate and collaborate through the use of
                            web-based technology. One of our initial goals
                            focused on the development of <a
                            href="http://simpeg.xyz">SimPEG</a>, led by Rowan
                            and Lindsey, which contains computational tools
                            and provides a framework for solving parameter
                            estimation problems. In a parallel,
                            Doug and Lindsey revamped the <a href="http://gpg.geosci.xyz">GPG</a>
                            (Geophysics for Practising Geoscientists) whose
                            goal is to provide introductory information about
                            geophysical surveys and how they are used to solve
                            applied problems. The third component, <a href="http://em.geosci.xyz">EM.geosci</a>,
                            is motivated by the need to have resource and
                            instructional material for geophysical
                            electromagnetic surveys. It will form the basis of
                            an SEG DISC (Distinguished Instructor Short
                            Course) to be offered in 2017. Understanding and
                            using material in any of the components requires
                            that users be engaged. This is facilitated by the
                            development of interactive application software
                            that allows users to connect principles and
                            outcomes. Our long term goal is to have continued
                            development of individual modules and to use
                            GeoSci to link them so that users can easily
                            transition between theory, computation and
                            application. That would help fulfill our mutual
                            desire to make quantitative geoscience more
                            important and successful in solving societal
                            problems.

                        </p>
                    </div>
                </div>
            </section>
            <!-- end story -->
            <div id="push"></div>
        </div>

        {% include _templateFolder+'footer.html' %}
        {% include _templateFolder+'scripts.html' %}
    </body>
</html>
