<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

    <head>
        {% include _templateFolder+'head.html' %}
        <title>GeoSci.xyz</title>
    </head>

    <body>

        {% include _templateFolder+'navigation.html' %}

        <!-- start projects -->
       <section id="why">
            <div class="container">
                <div class="row" align="right">
                    <h2 class="text-uppercase">Why GeoSci</h3>
                    <h4 class="text">April 20, 2016</h4>
                </div>
                <div class="row">
                    Why geosci
                </div>
            </div>
        </section>
        <!-- end projects -->


        <!-- end contact -->

    {% include _templateFolder+'footer.html' %}

    </body>
</html>
