<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

    <head>
        {% include _templateFolder+'head.html' %}
        {% include _templateFolder+'mathjax.html' %}
        <title>GeoSci.xyz</title>
    </head>

    <body>

        <div id="wrap">

        {% include _templateFolder+'navigation.html' %}
            <!-- start why -->
       <section id="why">
            <div class="container">
                <div class="row" align="right">
                    <h3 class="text">Why GeoSci</h3>
                    <h4 class="text">May 2016</h4>
                </div>
                <div class="row">
                    <p>
                        The geoscientific problems we are facing, from
                        resource exploration to environmental management will
                        require collaboration among scientists  across the
                        geoscience disciplines: geology, hydrogeology,
                        geophysics, geochemistry, geotechnical engineering.
                        Integration across these disciplines is a
                        scientifically and technically challenging task; each
                        has different tools, terminology, methods and
                        workflows. Every instance of integration between any
                        combination of the disciplines is a research
                        accomplishment in its own right. However, making
                        sustainable progress in bringing these fields closer
                        together is a different challenge: how do we make
                        sustainable progress in overcoming the barriers
                        presented by differences in terminologies and
                        methodologies?  We believe that the first step to
                        integration is opening up communication lines,
                        including making information and tools accessible.
                        This is our aim with GeoSci.xyz.
                    </p>

                    <p>
                        We are starting with geophysics. Geophysics has not
                        yet reached its full potential for its contribution to
                        solving problems in the geosciences. However that is
                        changing - today the combination of better field
                        systems and high quality data, advances in scientific
                        computing, and the exponential increase in computer
                        power allows us to solve problems that were not
                        possible a few years ago. It is becoming more
                        commonplace to acquire laboratory or in-situ
                        measurements of physical properties -  these are
                        essential links for integrating  geophysics into the
                        process of addressing questions about the earth.
                        Accessibility to these advances requires that
                        resources: both information and tools, be available to
                        geoscientists. With GeoSci.xyz, we are motivated to
                        lower barriers to entry into geophysics, as such, we
                        are working to build engaging informational resources:
                        Geophysics for Practicing Geoscientists (<a href="http://gpg.geosci.xyz">GPG</a>),
                        Electromagnetic Geophysics (<a href="http://em.geosci.xyz">EM</a>) and connect to
                        software  resources for Simulation and Parameter
                        Estimation in Geophysics (<a href="http://simpeg.xyz">SimPEG</a>). Each component has
                        its own primary development team and an ever-expanding
                        list of contributors.
                    </p>

                    <p>
                        The goal of GeoSci.xyz is to be a portal for
                        information and computational resources for
                        geoscientists. It is modular in design and each
                        component is open-source with content licensed under
                        <a href="https://creativecommons.org/li
                        censes/by/4.0/">Creative Commons 4.0</a>. GeoSci.xyz is under construction
                        and hopefully always will be!  We welcome
                        collaborators - if you would like to join, <a href="http://gpg.geosci.xyz">get in
                        touch!</a>
                    </p>

                </div>
            </div>
        </section>
        <!-- end why -->

        <div id="push"></div>
        </div>

        {% include _templateFolder+'footer.html' %}
        {% include _templateFolder+'scripts.html' %}
    </body>
</html>
