/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}
body {*/
  /* Margin bottom by footer height */
/*  margin-bottom: 70px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;*/
  /* Set the fixed height of the footer here */
/*  height: 70px;
  background-color: #fff;
  font-size: 11px;
  text-align: center;
  padding-top: 15px;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
}*/


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}*/
