/*
Boxer Template
http://www.templatemo.com/preview/templatemo_446_boxer
*/

html, body
    {
        height: 100%;
    }

body
    {
        background: #f8f8f8;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 200;
        position: relative;
        width: 100%;
        overflow-x: hidden;
    }

#wrap, .wrap
    {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -50px;
    }
#push,
#footer
    {
        height: 50px;
        bottom: 0;
    }

footer
    {
        /*position: absolute;*/
        /*bottom: 0;*/
        /* Set the fixed height of the footer here */
        background-color: #fff;
        font-size: 11px;
        text-align: right;
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
    }



/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding-top: 50px;
}
.container .credit {
  margin: 20px 0;
  font-size: 12px;
}

code {
  font-size: 80%;
}

/* end footer */

.tm-white a {
	color: #fff;
}

/* start h1 group */
h1 {
    margin-top: 0;
    margin-bottom: 15px;
}
h1,
h2,
h3{
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 200;
}
,
h4
    {
        font-weight: 200;
        font-style: italic;

    }
/* end h1 group */
p {
  line-height: 1.6em;
  font-size: 16px;
}
/* img */
img
    {
        max-width: 100%;
        height: auto;
    }
/* img */

/* overlay */
.overlay
    {
       width: 100%;
       height: 100%;
       background: rgba(0, 0, 0, 0.4);
       padding-top: 30px;
       padding-bottom: 30px;
    }
/* over lay */

/* start page container */
@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
/* end page container */

/* start preloader */
.preloader
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        /*justify-content: center;*/
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        background: none repeat scroll 0 0 #fff;
    }
.sk-spinner-rotating-plane.sk-spinner
    {
         width: 30px;
        height: 30px;
        background-color: #28a7e9;
         margin: 0 auto;
        -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
                animation: sk-rotatePlane 1.2s infinite ease-in-out;
     }

@-webkit-keyframes sk-rotatePlane {
  0% {
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                 transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                 transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
/* end preloader */

/* start navigation */
.navbar-default
    {
        background: #fff;
        border: none;
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
        margin: 0!important;
    }
.navbar-default .navbar-brand
    {
        color: #28a7e9;
        font-size: 30px;
        /*font-weight: bold;*/
        font-weight:200;
        height: 70px;
        line-height: 35px;
    }
.navbar-default .nav li a
    {
        color: #666;
        font-size: 16px;
        /*font-weight: bold;*/
        height: 70px;
        line-height: 40px;
    }
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus,
.navbar-default .nav li a.current
    {
        color: #28a7e9;
    }

.navbar-default .navbar-toggle
    {
        border: none;
        padding-top: 20px;
    }
.navbar-default .navbar-toggle .icon-bar
    {
        background: #28a7e9;
        border-color: transparent;
    }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
/* end navigation */

/* start home */
#home
    {
    /*background: url('../images/home-bg.jpg') no-repeat;*/
    background-size: cover;
    color: #fff;
    margin-top: 60px;
    text-align: center;
    width: 100%;
    }

#home p
    {
        font-weight: 200;
        font-style: italic;
        line-height: 2em;
    }
#home h4
    {
        font-weight: 200;
        font-style: italic;
    }
#home img
    {
        border-radius: 150px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
    }
/* end home */

/* start about */
#about
    {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 60px;
    }
#about img
    {
        border-radius: 160px;
        -webkit-border-radius: 160px;
        -moz-border-radius: 160px;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 20px;
    }
#about .fa
    {
        color: #28a7e9;
        font-size: 20px;
    }

/* end about */

/* start projects */
#projects
    {
        padding-top: 140px;
        padding-bottom: 30px;
    }
#projects p
    {
        padding-top: 0px;
        padding-bottom: 30px;
    }
#projects span
    {
        float: left;
    }
/*#projects .fa
    {
        background: #28a7e9;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-right: 20px;
    }*/
#projects h2
    {
        margin-top: 30px;
    }
#projects h4
    {
        font-size: 14;
        /*font-weight: bold;*/
        font-style: italic;
    }

#projects img
    {
        width: 240px;
        height: 240px;
        border-radius: 20px;
    }

#projects .hovereffect {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
  align:center;
}

#projects .hovereffect .overlay {
/*  width: 240px;
  height: 240px;*/
  border-radius: 20px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color:rgba(0,0,0,0.0);
  -webkit-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out
}

#projects .hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  width: 240px;
  height: 240px;
  border-radius: 20px;
}

#projects .hovereffect:hover img {
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  width: 240px;
  height: 240px;
  /*border-radius: 20px;*/
}

#projects .hovereffect h3 {
  /*text-transform: uppercase;*/
  margin-top: 0px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  position: relative;
  height: 130px;
  font-size: 22px;
  font-weight: 200px;
  padding-top: 15px;
  padding-bottom: 5px;
  background: rgba(0, 0, 0, 0.85);
  line-height: 19px;
}


#projects .hovereffect .fa {
  display: inline-block;
  text-decoration: none;
  /*padding: 0px 0px;*/
  /*margin: 10px 0 0 0;*/
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.85);
  text-transform: lowercase;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  /*bottom: 30px;*/
}


/*#projects .hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}*/
#projects .hovereffect p:hover, .hovereffect h3:hover {
  box-shadow: 0 0 5px #fff;
}

#projects .hovereffect .fa, .hovereffect h3 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-align: center;
  /*background:rgba(0,0,0,0.5);*/
}

#projects .hovereffect:hover .fa, .hovereffect:hover h3 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
/* end projects */

/* start why */
#why
    {
        padding-top: 100px;
        padding-bottom: 30px;
    }
#why .container
    {
      width: 55%;
    }
#why img
    {
        border-radius: 160px;
        -webkit-border-radius: 160px;
        -moz-border-radius: 160px;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 20px;
    }
#why h4
    {
/*        margin-left: 150px;
        margin-right: 150px;*/
        /*font-weight: bold;*/
        font-style: italic;
        font-size: 14px;
        margin-bottom: 30px;
    }
#why p
    {
/*        margin-right: 150px;
        margin-left: 150px;*/
        text-align: justify;
    }
#why .fa
    {
        color: #28a7e9;
        font-size: 20px;
    }
/* end why */

/* start who */
#who
    {
        padding-top: 100px;
        /*padding-bottom: 30px;*/
    }
#story
    {
        padding-top: 30px;
        padding-bottom: 30px;
    }
#who img
    {
        border-radius: 160px;
        -webkit-border-radius: 160px;
        -moz-border-radius: 160px;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
#who h2 h3 .h2 .h3
    {
        margin-left: 50px;
        margin-right: 50px;
        /*font-size: 20px;*/
    }
#story h2 h3 .h2 .h3
    {
        margin-left: 50px;
        margin-right: 50px;
        /*font-size: 20px;*/
    }
/*#who h3 , #story h3
  {
    font-size: 20px;
  }*/
#who h4 , #story h4
    {
        margin-left: 50px;
        margin-right: 50px;
        /*font-weight: bold;*/
        font-style: italic;
        /*font-size: 12px;*/
        margin-bottom: 30px;
        text-align: justify;
    }
#story p, #who p
    {
        /*font-size: 1ypx;*/
        padding-top: 10px;
        text-align: justify;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 15px;
    }
/* end who */


/* begin contact */

#contact
    {
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 100px 0;
        margin-left: 100px;
        margin-right: 100px;
    }
/*#contact .container
    {
        width: 65%;
    }*/
#contact h3
    {
      padding-bottom: 30px;
    }

#contact address
    {
        padding-top: 30px;
    }
#contact address .fa
    {
        /*background: #28a7e9;*/
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-top: 10px;
        /*margin-right: 30px;*/
    }
#contact label
    {
        padding-left: 5px;
    }
#contact .contact-form
    {
        padding-top: 40px;
     /*   padding-right: 80px;
        padding-left: 80px;*/
    }
#contact .form-control
    {
        border: 1px rgba(100, 100, 100);
        border-radius: 10px;
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.);
        margin-bottom: 20px;
        width:80%;
        position: relative;
        align: center;
    }
#contact input
    {
        height: 50px;
    }
#contact input[type="submit"]
    {
        /*color: #fff;*/
        transition: all 0.3s ease;
    }
#contact input[type="submit"]:hover {
    background: #107DB6;
}

/* end contact */


